$violet: hsl(257, 40%, 49%);
$soft-magenta: hsl(300, 69%, 71%);

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  background-color: $violet;
  background-image: url(/dist/images/bg-desktop.svg);
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

nav {
  margin-bottom: 60px;
  img {
    width: 150px;
  }
}

.flex-wrap {
  display: flex;

  .left-box {
    img {
      width: 500px;
    }
  }

  .right-box {
    color: #fff;
    margin: auto 30px;

    h1 {
      font-family: "Poppins", sans-serif;
      font-weight: 600;
    }

    p {
      font-family: "Open Sans", sans-serif;
      line-height: 1.6;
    }

    button {
      font-family: "Open Sans", sans-serif;
      padding: 10px 40px;
      filter: drop-shadow(5px 5px 10px #000);
      border-radius: 30px;
      border: none;
      cursor: pointer;
    }

    button:hover {
      background-color: $soft-magenta;
      color: #fff;
    }

    h1,
    p {
      margin-bottom: 15px;
    }
  }
}

footer {
  display: flex;
  justify-content: flex-end;

  ul {
    list-style: none;

    li {
      display: inline-block;
      border: #fff 1.5px solid;
      border-radius: 50%;
      padding: 1px;
      margin: 5px;

      a {
        color: white;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        text-decoration: none;
        height: 12px;
        width: 12px;
        padding: 0.5em 0.6em;
      }

      i:hover {
        color: $soft-magenta;
      }
    }

    a:hover {
      border-color: $soft-magenta;
      color: $soft-magenta;
    }
  }
}
